@model ProjektCmentarz.Models.Plot

@{
    ViewData["Title"] = "Wynajęcie działki";
}

<h1>Potwierdzenie wynajęcia działki</h1>

<div>
    <h3>Działka numer @Model.Id</h3>
    <h4>@Model.GraveyardSection.SectionType</h4>
</div>
<div>
    <form asp-action="Confirm" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-success">Zatwierdź</button>
    </form>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</div>

