@model IEnumerable<ProjektCmentarz.Models.Plot>

@{
    ViewData["Title"] = "Wynajmij działkę";
}

<h1>Wynajmij działkę</h1>

<div class="row">
    @foreach (var plot in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>Działka numer @plot.Id</h4>
                    <p>Sekcja: @plot.GraveyardSection?.SectionType</p>
                    <a asp-action="Details" asp-route-id="@plot.Id" class="text-danger">Wynajmij</a>
                </div>
            </div>
        </div>
    }
</div>
