<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjektCmentarz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjektCmentarz.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @* Pasek nawigacji na górze strony *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @* "Logo" strony; przekierowuje na stronę główną *@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cmentarz.NET</a>
                @* Przycisk (ro)zwijający nagłówek na urządzeniach mobilnych; chyba można usunąć? *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @* Zakładki; linki do różnych ważnych stron po lewej stronie nagłówka *@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* Home *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @* Lista nieboszczyków *@
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Deceased" asp-action="Index">Nieboszczycy</a>
                        </li>
                        @* Prywatność *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                @* Jeśli użytkownik NIE jest zalogowany, po prawej stronie nagłówka pojawiaja się
                przekierowania na stronę logowania i stronę rejestracji *@
                @if (User.Identity.IsAuthenticated == false) {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav ms-auto">
                            @* Zalogowanie; zapisuje obecną stronę, do której wróci użytkownik po zalogowaniu *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action=""
                                   asp-route-returnUrl="@Context.Request.Path">Login</a>
                            </li>
                            @* Rejestracja *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="">Rejestracja</a>
                            </li>
                        </ul>
                    </div>
                    }
                @* Jeśli użytkownik jest zalogowany, w tym samym miejscu pojawia się przekierowanie
                na stronę profilu użytkownika oraz przycisk do strony wylogowania *@
                else
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav ms-auto">
                            @* Profil użytkownika *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserProfile" asp-action="Index">Profil</a>
                            </li>
                            @* Wylogowanie *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout"
                                   asp-route-returnUrl="@Context.Request.Path">Wyloguj się</a>
                            </li>
                        </ul>
                    </div>
                }
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ProjektCmentarz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
