@model ProjektCmentarz.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj dane</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Zapisz</button>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
</form>

<div>
    <a asp-action="Index">Powrót do profilu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
