@model ProjektCmentarz.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Profil</h1>

@* Informacje o danym użytkowniku *@
<div>
    <p>Imię: @Model.FirstName</p>
    <p>Nazwisko: @Model.Surname</p>
    <p>Email: @Model.Email</p>
</div>

@* Edytowanie profilu *@
<div>
    <a class="btn btn-primary" href="/UserProfile/Edit">Edytuj profil</a>
    <a class="btn btn-primary" href="/UserProfile/ChangePassword">Zmień hasło</a>
</div>

@* Działki użytkownika *@
<div>
    
</div>